.order {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background: #00000080;
  backdrop-filter: blur(10px);
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  transition: 0.5s;
  &__form {
    position: relative;
    width: 440px;
    padding:20px 40px;
    border: 1px solid #c7dff5;
    background: #f6fbff;
    @media screen and (max-width: 576px) {
      padding:40px 15px;
      width: 100%;
      border: none;
    }
    &--title {
      text-align: center;
      color: var(--primary-color, #01384d);
      font-family: "Raleway";
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 20px;
    }
    &--label {
      color: var(--primary-color, #01384d);
      font-family: "Raleway";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    input,
    select {
      color: var(--primary-color, #01384d);
      font-family: "Raleway";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &--name,
    &--mobile_phone,
    &--select {
      padding: 10px;
      border-radius: 5px;
      border: 2px solid var(--primary-color, #01384d);
      background: #fff;
      outline: none !important;
      &:focus {
        outline: none !important;
      }
    }
    &--name {
      width: 100%;

      margin-bottom: 25px;
    }
    &--mobile_phone {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin-bottom: 45px;
      outline: none;
      &:focus {
        outline: none;
      }
      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 10px;
        background-color: var(--primary-color);
        color: var(--color-7);
      }
      input {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        color: var(--primary-color, #01384d);
        font-family: "Raleway";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        outline: none;
        &:focus {
          outline: none;
        }
      }
    }
    &--category {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      label {
        margin-bottom: 15px;
      }
      select {
        width: 100%;
        option {
          padding: 10px;
        }
      }
    }
    &--count {
      button,
      div {
        color: var(--primary-color, #01384d);
        font-family: "Raleway";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: var(--color-5);
      }
    }
    &--group {
      width: 100%;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 2px solid var(--primary-color, #01384d);
      background-color: var(--color-5);
      margin-bottom: 20px;
      margin-top: 15px;
    }
    &--amount {
      width: 50%;
      height: 100%;
      text-align: center;
    }
    &--btn {
      width: 25%;
      padding: 7px 30px;
      border-left: 2px solid var(--primary-color, #01384d);
      border-right: 2px solid var(--primary-color, #01384d);
    }
  }
  &__btn {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--color-5);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: var(--primary-color, #01384d);
  }
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
}
.success {
  position: relative;
  width: 440px;
  padding: 40px;
  border: 1px solid #c7dff5;
  background: #f6fbff;
  display: none;
  flex-direction: column;
  gap: 40px;
  @media screen and (max-width: 576px) {
    padding: 15px;
    width: 100%;
  }
  &--title {
    text-align: center;
    color: var(--primary-color, #01384d);
    font-family: "Raleway";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &--image {
    width: 100%;
  }
  &--text {
    text-align: center;
    color: var(--primary-color, #01384d);
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
